.changefile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.changefile + label {
    color: #2CA8FF !important;
    display: inline-block;
}